In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('GlobalTemperatures.csv')
data.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3192 entries, 0 to 3191
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   dt                                         3192 non-null   object
 1   LandAverageTemperature                     3180 non-null   float64
 2   LandAverageTemperatureUncertainty          3180 non-null   float64
 3   LandMaxTemperature                         1992 non-null   float64
 4   LandMaxTemperatureUncertainty              1992 non-null   float64
 5   LandMinTemperature                         1992 non-null   float64
 6   LandMinTemperatureUncertainty              1992 non-null   float64
 7   LandAndOceanAverageTemperature             1992 non-null   float64
 8   LandAndOceanAverageTemperatureUncertainty  1992 non-null   float64
dtypes: float64(8), object(1)
memory usage: 224.6+ KB

In [4]:
data.corr(numeric_only=True)['LandAverageTemperature']

LandAverageTemperature                       1.000000
LandAverageTemperatureUncertainty           -0.204191
LandMaxTemperature                           0.995807
LandMaxTemperatureUncertainty               -0.108462
LandMinTemperature                           0.995611
LandMinTemperatureUncertainty               -0.167451
LandAndOceanAverageTemperature               0.988066
LandAndOceanAverageTemperatureUncertainty   -0.131412
Name: LandAverageTemperature, dtype: float64

In [5]:
fill=['LandAverageTemperature', 'LandAverageTemperatureUncertainty', 'LandMaxTemperature', 'LandMaxTemperatureUncertainty',
     'LandMinTemperature', 'LandMinTemperatureUncertainty', 'LandAndOceanAverageTemperature', 
      'LandAndOceanAverageTemperatureUncertainty']

for f in fill:
    data[f].fillna(data[f].mode()[0], inplace=True)

In [6]:
data.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,8.555,0.093,-1.139,0.237,15.005,0.061
1,1750-02-01,3.083,3.702,8.555,0.093,-1.139,0.237,15.005,0.061
2,1750-03-01,5.626,3.076,8.555,0.093,-1.139,0.237,15.005,0.061
3,1750-04-01,8.490,2.451,8.555,0.093,-1.139,0.237,15.005,0.061
4,1750-05-01,11.573,2.072,8.555,0.093,-1.139,0.237,15.005,0.061

In [7]:
date_col=np.array([i.split('-') for i in data.dt])
date_col[:5]

array([['1750', '01', '01'],
       ['1750', '02', '01'],
       ['1750', '03', '01'],
       ['1750', '04', '01'],
       ['1750', '05', '01']], dtype='<U4')

In [8]:
data['Day']=[int(i[2]) for i in date_col]
data['Month']=[int(i[1]) for i in date_col]
data['Year']=[int(i[0]) for i in date_col]

In [9]:
data.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,Day,Month,Year
0,1750-01-01,3.034,3.574,8.555,0.093,-1.139,0.237,15.005,0.061,1,1,1750
1,1750-02-01,3.083,3.702,8.555,0.093,-1.139,0.237,15.005,0.061,1,2,1750
2,1750-03-01,5.626,3.076,8.555,0.093,-1.139,0.237,15.005,0.061,1,3,1750
3,1750-04-01,8.490,2.451,8.555,0.093,-1.139,0.237,15.005,0.061,1,4,1750
4,1750-05-01,11.573,2.072,8.555,0.093,-1.139,0.237,15.005,0.061,1,5,1750

In [10]:
data.corr(numeric_only=True)['LandAverageTemperature']

LandAverageTemperature                       1.000000
LandAverageTemperatureUncertainty           -0.206745
LandMaxTemperature                           0.623542
LandMaxTemperatureUncertainty               -0.057429
LandMinTemperature                           0.689714
LandMinTemperatureUncertainty               -0.110681
LandAndOceanAverageTemperature               0.760520
LandAndOceanAverageTemperatureUncertainty   -0.062260
Day                                               NaN
Month                                        0.246504
Year                                         0.073606
Name: LandAverageTemperature, dtype: float64

In [11]:
data.drop(['Day', 'dt'], axis=1, inplace=True)

In [12]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data.Year=encoder.fit_transform(data.Year)
data.head()

,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty,Month,Year
0,3.034,3.574,8.555,0.093,-1.139,0.237,15.005,0.061,1,0
1,3.083,3.702,8.555,0.093,-1.139,0.237,15.005,0.061,2,0
2,5.626,3.076,8.555,0.093,-1.139,0.237,15.005,0.061,3,0
3,8.490,2.451,8.555,0.093,-1.139,0.237,15.005,0.061,4,0
4,11.573,2.072,8.555,0.093,-1.139,0.237,15.005,0.061,5,0

In [13]:
data.corr(numeric_only=True)['LandAverageTemperature']

LandAverageTemperature                       1.000000
LandAverageTemperatureUncertainty           -0.206745
LandMaxTemperature                           0.623542
LandMaxTemperatureUncertainty               -0.057429
LandMinTemperature                           0.689714
LandMinTemperatureUncertainty               -0.110681
LandAndOceanAverageTemperature               0.760520
LandAndOceanAverageTemperatureUncertainty   -0.062260
Month                                        0.246504
Year                                         0.073606
Name: LandAverageTemperature, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train, x_test, y_train, y_test = train_test_split(data.drop(['LandAverageTemperature'], axis=1), 
                                                    data['LandAverageTemperature'], test_size=0.2, random_state=0)
y_train.shape, x_train.shape

((2553,), (2553, 9))

In [16]:
from sklearn.neighbors import KNeighborsRegressor

In [17]:
knn=KNeighborsRegressor(n_neighbors=2)
knn.fit(x_train, y_train)
knn.score(x_test, y_test)

0.9317850352936025